.button {
  display: inline-flex;
  overflow: hidden;
  z-index: 1;

  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: 18px;
  line-height: 1.6;
  color: var(--white);
  font-family: var(--400);
  padding: 12px 40px;
  z-index: 1;
  transition: color 0.5s;
  user-select: none;
  outline: none;
  cursor: pointer;
  background: var(--blue-light);

  &.full {
    width: 100%;
  }

  &.small {
    padding: 6px 24px;
    font-size: 14px;
    line-height: 1;
    font-family: var(--500);
    background: var(--blue);
    min-height: 30px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 1000%;
    right: 50%;
    top: 100%;
    transform: translate(0%, 0%);
    pointer-events: none;
    z-index: -1;
    transition: transform 0.5s;
    background: url('../img/svg/button.svg') no-repeat center top;
    background-size: 100% 100%;
  }

  &:hover {
    color: var(--blue);
    &:before {
      transform: translate(65%, -100%);
    }
  }

  &.button--dark {
    &:before {
      background: url('../img/svg/button-dark.svg') no-repeat center top;
      background-size: 100% 100%;
    }
    &:hover {
      color: var(--white);
    }
  }
}

.arrow {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid var(--white);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 3;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 200%;
    left: 0px;
    top: -100%;
    transform: translate(0%, 0%);
    background: url('../img/svg/arrow.svg') no-repeat center center/cover;
    animation: arrowBounce 2.5s ease-in-out infinite;
  }
}

@keyframes arrowBounce {
  0% {
    transform: translate(0%, 0%);
  }
  15% {
    transform: translate(0%, 55%);
  }
  30% {
    transform: translate(0%, 46%);
  }
  45% {
    transform: translate(0%, 52%);
  }
  60% {
    transform: translate(0%, 48%);
  }
  75% {
    transform: translate(0%, 51%);
  }
  90% {
    transform: translate(0%, 50%);
  }
  100% {
    transform: translate(0%, 50%);
  }
}
