@font-face {
  font-family: "wix_madefor_display_regular";
  src: url("../fonts/wix_madefor_display_regular.woff2") format("woff2"),
    url("../fonts/wix_madefor_display_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "wix_madefor_display_medium";
  src: url("../fonts/wix_madefor_display_medium.woff2") format("woff2"),
    url("../fonts/wix_madefor_display_medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
