:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--black);
  font-family: var(--400);
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  display: block;
  object-fit: cover;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
strong {
  font-family: var(--500);
  color: inherit;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
  &:disabled {
    cursor: auto;
    pointer-events: none;
    opacity: 0.3;
  }
}

ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: var(--white);
  &.full {
    min-height: 100vh;
    height: 100%;
  }
}

.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 0px 24px;

  @media (max-width: 1279px) {
    padding: 0px 40px;
  }

  @media (max-width: 767px) {
    padding: 0px 20px;
  }
}

.lines {
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: 0;
  }

  &:before {
    width: 1px;
    left: 50%;
    background: var(--grey-light);
  }

  &:after {
    width: 50%;
    max-width: calc((1440px - 48px) / 2);
    left: 50%;
    transform: translate(-50%, 0%);
    border-left: 1px solid var(--grey-light);
    border-right: 1px solid var(--grey-light);
  }

  @media (max-width: 1279px) {
    &:after {
      width: calc(50% - 12px);
      max-width: calc((1440px - 48px) / 2);
    }
  }

  @media (max-width: 767px) {
    &:after {
      width: calc(100% - 38px);
      max-width: calc(100% - 38px);
    }
  }
}
