.marquee {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}

.marquee__inner {
  display: inline-flex;
  animation: marquee 15s linear infinite;
}

.marquee__inner span {
  display: inline-block;
  white-space: nowrap;
  font-size: 190px;
  line-height: 1;
  color: var(--blue-light);
  padding-right: 4rem;
}

/* Анимация */
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 1279px) {
  .marquee__inner span {
    font-size: 100px;
  }
}

@media (max-width: 767px) {
  .marquee__inner span {
    font-size: 132px;
  }
}
