.section--marquee {
  position: relative;
  padding-bottom: 50px;
  .container {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    height: 100%;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: calc(25% - 12px);
      height: 100%;
      backdrop-filter: blur(5px);
      top: 0px;
      left: calc(25% + 12px);
    }

    &:after {
      left: calc(75% - 12px);
    }
  }
}

@media (max-width: 1279px) {
  .section--marquee {
    padding-bottom: 0px;
    .container {
      &:before,
      &:after {
        width: calc(25% - 5px);
        left: calc(25% + 5px);
      }

      &:after {
        left: calc(75% - 5px);
      }
    }
  }
}

@media (max-width: 767px) {
  .section--marquee {
    padding-bottom: 40px;
    .container {
      &:before,
      &:after {
        width: calc(50% - 20px);
        left: 20px;
      }

      &:after {
        width: 20px;
        left: auto;
        right: 0px;
      }
    }
  }
}
