.section--smrHero {
  padding-top: 190px;
  padding-bottom: 100px;

  @media (max-width: 767px) {
    &:before,
    &:after {
      content: none;
    }
  }

  .title--90 {
    position: relative;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    &:after {
      content: '';
      height: 350%;
      width: 100%;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translate(22%, -44%);
      background: url('../img/svg/g_grey.svg') no-repeat right center;
      background-size: auto 100%;
      @media (max-width: 1279px) {
        height: 380px;
        transform: translate(250px, -48%);
      }
      @media (max-width: 1023px) {
        height: 320px;
        transform: translate(220px, -48%);
      }
      @media (max-width: 767px) {
        height: 250%;
        transform: translate(47%, -48%);
      }
    }
  }

  @media (max-width: 1279px) {
    padding-top: 110px;
    padding-bottom: 40px;
  }
}

.smr-description {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 46px;

  li {
    width: 25%;
    padding-left: 24px;
    p {
      font-size: 14px;
      max-width: 300px;
    }
  }

  @media (max-width: 1279px) {
    justify-content: flex-start;
    max-width: 768px;
    gap: 40px 0px;
    margin-top: -20px;
    li {
      width: 45%;
      padding: 0;
      &:first-child {
        width: 100%;
        padding-left: 45%;
        p {
          max-width: 400px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    gap: 20px;
    margin-top: 54px;
    li {
      width: 100%;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}
