.title {
  display: block;
  font-family: var(--500);
  font-weight: 500;

  &.title--80 {
    font-size: myclamp(62px, 80px, 1440px, 1440px);
    line-height: 1.2;

    @media (max-width: 767px) {
      font-size: myclamp(38px, 62px, 767px, 767px);
    }
  }

  &.title--90 {
    font-size: myclamp(46px, 90px, 1440px, 1440px);
    line-height: 1.2;
    @media (max-width: 767px) {
      line-height: 1.1;
    }
  }

  &.title--100 {
    font-size: myclamp(50px, 100px, 1440px, 1440px);
    line-height: 1.2;
  }

  &.title--64 {
    font-size: myclamp(46px, 64px, 1440px, 1440px);
    line-height: 1.1;
    @media (max-width: 374px) {
      font-size: myclamp(38px, 64px, 767px, 767px);
    }
  }
}
