@charset "UTF-8";
:root {
  --400: "wix_madefor_display_regular", sans-serif;
  --500: "wix_madefor_display_medium", sans-serif;
  --bg: #ffffff;
  --white: #ffffff;
  --blue: #002db7;
  --blue-light: #0080ff;
  --grey-light: #f2f2f2;
  --black: #231f20;
  --red: #b7142b;
}

@font-face {
  font-family: "wix_madefor_display_regular";
  src: url("../fonts/wix_madefor_display_regular.woff2") format("woff2"), url("../fonts/wix_madefor_display_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "wix_madefor_display_medium";
  src: url("../fonts/wix_madefor_display_medium.woff2") format("woff2"), url("../fonts/wix_madefor_display_medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 50;
  background-color: var(--white);
  transition: 0.6s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.preloader.hidden span {
  transform: scale(0.5);
}
.preloader span {
  width: 100px;
  height: 100px;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  transform: scale(1);
  transition: 1s;
}
.preloader span:before {
  content: "";
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--blue-light);
  border-top: 1px solid var(--blue-light);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 150px;
  display: block;
  position: absolute;
  -webkit-animation: rotate 0.6s linear infinite;
          animation: rotate 0.6s linear infinite;
}
.preloader span img {
  position: absolute;
  width: 60%;
}

/* Вращение по кругу */
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateleft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotateleft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

body {
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--black);
  font-family: var(--400);
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
strong {
  font-family: var(--500);
  color: inherit;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.3;
}

ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: var(--white);
}
.section.full {
  min-height: 100vh;
  height: 100%;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 0px 24px;
  margin: 0 auto;
  z-index: 1;
}
@media (max-width: 1279px) {
  .container {
    padding: 0px 40px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0px 20px;
  }
}

.lines:before, .lines:after {
  content: "";
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.lines:before {
  width: 1px;
  left: 50%;
  background: var(--grey-light);
}
.lines:after {
  width: 50%;
  max-width: 696px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-left: 1px solid var(--grey-light);
  border-right: 1px solid var(--grey-light);
}
@media (max-width: 1279px) {
  .lines:after {
    width: calc(50% - 12px);
    max-width: 696px;
  }
}
@media (max-width: 767px) {
  .lines:after {
    width: calc(100% - 38px);
    max-width: calc(100% - 38px);
  }
}

.burger {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 24px;
  left: 24px;
  right: 24px;
  height: 64px;
  z-index: 20;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 12px 24px;
  gap: 24px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1365px) {
  .header {
    top: 10px;
    left: 10px;
    right: 10px;
  }
}
@media (max-width: 767px) {
  .header {
    top: 20px;
    left: 20px;
    right: 20px;
  }
}
.header:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

.logo {
  display: block;
  position: relative;
  width: 176px;
  height: 40px;
}
@media (max-width: 1279px) {
  .logo {
    width: 132px;
    height: 30px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.menu {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 24px;
}
.menu li .menu__link {
  font-family: var(--500);
  font-size: 14px;
  line-height: 1;
  transition: 0.3s;
}
.menu li .menu__link.active, .menu li .menu__link:hover {
  color: var(--blue-light);
}

@media (max-width: 1279px) {
  .header {
    height: 60px;
  }
  .burger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    font-size: 0px;
    z-index: 2;
  }
  .burger span, .burger:before, .burger:after {
    position: absolute;
    height: 2px;
    background: var(--blue);
    transition: 0.6s;
    opacity: 1;
    z-index: 1;
  }
  .burger:before, .burger:after {
    content: "";
    width: 16px;
  }
  .burger span {
    width: 22px;
    transform: translate(0px, 0px);
  }
  .burger:before {
    transform: translate(0px, -5px) rotate(0deg);
  }
  .burger:after {
    transform: translate(0px, 5px) rotate(0deg);
  }
  .burger.open span {
    transform: translate(10px, 0px);
    opacity: 0;
  }
  .burger.open:before {
    transform: translate(0px, 0px) rotate(45deg);
  }
  .burger.open:after {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  .navigation {
    position: fixed;
    align-items: flex-start;
    width: calc(100% + 20px);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: -10px;
    right: -10px;
    background: var(--blue-light);
    color: var(--white);
    transform: translate(0%, -100%);
    transition: transform 0.6s;
    padding: 0px;
    z-index: -2;
  }
  .navigation::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  .navigation.open {
    transform: translate(0%, 0%);
  }
  .menu {
    padding-top: 100px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 240px;
    min-height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .menu li {
    text-align: center;
    font-size: 20px;
  }
  .menu li .button {
    font-size: 20px;
    padding: 10px 40px;
  }
  .menu li .menu__link {
    font-size: 20px;
  }
  .menu li .menu__link.active {
    color: var(--white);
    border-bottom: 1px solid var(--white);
  }
  .menu li:first-child {
    margin-top: auto;
  }
  .menu li:last-child {
    margin-top: auto;
  }
}
@media (max-width: 767px) {
  .navigation {
    width: calc(100% + 40px);
    top: -20px;
    right: -20px;
    bottom: -20px;
  }
}
.button {
  display: inline-flex;
  overflow: hidden;
  z-index: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: 18px;
  line-height: 1.6;
  color: var(--white);
  font-family: var(--400);
  padding: 12px 40px;
  z-index: 1;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
  background: var(--blue-light);
}
.button.full {
  width: 100%;
}
.button.small {
  padding: 6px 24px;
  font-size: 14px;
  line-height: 1;
  font-family: var(--500);
  background: var(--blue);
  min-height: 30px;
}
.button:before {
  content: "";
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: 0.3s;
}
.button:hover:before {
  opacity: 1;
}

.arrow {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid var(--white);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 3;
  overflow: hidden;
}
.arrow:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0px;
  top: -100%;
  transform: translate(0%, 0%);
  background: url("../img/svg/arrow.svg") no-repeat center center/cover;
  -webkit-animation: arrowBounce 2.5s ease-in-out infinite;
          animation: arrowBounce 2.5s ease-in-out infinite;
}

@-webkit-keyframes arrowBounce {
  0% {
    transform: translate(0%, 0%);
  }
  15% {
    transform: translate(0%, 55%);
  }
  30% {
    transform: translate(0%, 46%);
  }
  45% {
    transform: translate(0%, 52%);
  }
  60% {
    transform: translate(0%, 48%);
  }
  75% {
    transform: translate(0%, 51%);
  }
  90% {
    transform: translate(0%, 50%);
  }
  100% {
    transform: translate(0%, 50%);
  }
}

@keyframes arrowBounce {
  0% {
    transform: translate(0%, 0%);
  }
  15% {
    transform: translate(0%, 55%);
  }
  30% {
    transform: translate(0%, 46%);
  }
  45% {
    transform: translate(0%, 52%);
  }
  60% {
    transform: translate(0%, 48%);
  }
  75% {
    transform: translate(0%, 51%);
  }
  90% {
    transform: translate(0%, 50%);
  }
  100% {
    transform: translate(0%, 50%);
  }
}
.title {
  display: block;
  font-family: var(--500);
  font-weight: 500;
}
.title.title--80 {
  font-size: clamp(62px, 5.5556vw, 80px);
  line-height: 1;
}
@media (max-width: 767px) {
  .title.title--80 {
    font-size: clamp(38px, 8.0834vw, 62px);
  }
}
.title.title--100 {
  font-size: clamp(50px, 6.9444vw, 100px);
  line-height: 1.2;
}
.title.title--64 {
  font-size: clamp(50px, 4.4444vw, 64px);
  line-height: 1;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
  background: var(--white);
}
@media (max-width: 767px) {
  .footer {
    border-top: 1px solid var(--grey-light);
    padding-top: 130px;
  }
  .footer:before, .footer:after {
    content: none;
  }
}

.footer__logo {
  width: 100%;
  background: var(--white);
  border-top: 1px solid var(--grey-light);
  display: block;
  padding: 40px 24px 20px 24px;
  z-index: 2;
}
@media (max-width: 1279px) {
  .footer__logo {
    padding: 20px 10px 10px 10px;
  }
}
@media (max-width: 767px) {
  .footer__logo {
    padding: 15px 10px 15px 10px;
  }
}

.footer__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1440px;
  padding: 40px 24px;
  margin: 0 auto;
  z-index: 2;
}
.footer__content li {
  width: 25%;
  padding: 0px 24px;
}
.footer__content li:nth-child(1) {
  padding-left: 0px;
}
.footer__content img {
  margin-bottom: 50px;
}
.footer__content span,
.footer__content a,
.footer__content address {
  font-size: 14px;
  line-height: 1.2;
  display: block;
  min-height: 36px;
}
.footer__content a {
  color: var(--blue-light);
}
@media (max-width: 1279px) {
  .footer__content {
    padding: 40px 10px;
  }
  .footer__content li {
    padding: 0px 0px 0px 10px;
  }
  .footer__content li:nth-child(3) img {
    width: 80px;
    height: 40px;
  }
  .footer__content li:nth-child(4) img {
    width: 72px;
    height: 72px;
  }
  .footer__content li span,
.footer__content li a,
.footer__content li address {
    font-size: 12px;
    min-height: 30px;
    letter-spacing: -0.2px;
  }
}
@media (max-width: 767px) {
  .footer__content {
    padding: 30px 20px;
    flex-wrap: wrap;
    position: relative;
  }
  .footer__content li {
    position: unset;
    width: 100%;
    padding: 0;
    margin: 16px 0px;
  }
  .footer__content li span,
.footer__content li a,
.footer__content li address {
    font-size: 14px;
    min-height: 3px;
    letter-spacing: 0px;
  }
  .footer__content li:nth-child(3) img {
    position: absolute;
    margin-bottom: 0px;
    width: 102px;
    height: 50px;
    bottom: calc(100% + 20px);
  }
  .footer__content li:nth-child(4) img {
    position: absolute;
    margin-bottom: 0px;
    width: 95px;
    height: 95px;
    bottom: 100%;
    left: 55%;
  }
}

.marquee {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}

.marquee__inner {
  display: inline-flex;
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
}

.marquee__inner span {
  display: inline-block;
  white-space: nowrap;
  font-size: 190px;
  line-height: 1;
  color: var(--blue-light);
  padding-right: 4rem;
}

/* Анимация */
@-webkit-keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@media (max-width: 1279px) {
  .marquee__inner span {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .marquee__inner span {
    font-size: 60px;
  }
}
.scroll-container {
  display: flex;
  width: 100%;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
  position: relative;
  height: 100vh;
  background: #6a6a6a;
}

.hero-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
@media (max-width: 1023px) {
  .hero-wrapper {
    position: relative;
  }
}

.section--hero {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  min-height: 100vh;
  background: #b0afb0 url("../img/main/hero_sky.webp") no-repeat center top/cover;
  background-size: 100% 60%;
  overflow: hidden;
  color: var(--white);
}
.section--hero .title--80 {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  position: relative;
  z-index: 2;
  width: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  padding: 88px 30px 20px 30px;
}
@media (max-width: 767px) {
  .section--hero .title--80 {
    align-items: center;
    align-content: center;
    display: inline;
    width: 100%;
    padding: 90px 20px 0px 20px;
    flex-wrap: wrap;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    max-width: 100%;
  }
  .section--hero .title--80 br {
    display: none;
  }
}
.section--hero .arrow {
  position: absolute;
  left: 50%;
  bottom: 0%;
  margin-left: -25px;
}
@media (max-width: 1079px) {
  .section--hero .arrow {
    bottom: -24px;
  }
}
@media (max-width: 767px) {
  .section--hero .arrow {
    bottom: 0px;
  }
}

.hero-light {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  min-height: 100vh;
  width: 50%;
  transform: translate(0vw, 0%);
  transition: transform 2s cubic-bezier(0, 0.86, 0.07, 1);
}
@media (max-width: 1279px) {
  .hero-light {
    width: 50%;
  }
}
@media (max-width: 1023px) {
  .hero-light {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .hero-light {
    width: 150%;
    left: -80%;
  }
}

.hero-description {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 42%;
  background: rgba(63, 63, 63, 0.5) url("../img/main/water.webp") no-repeat center top/cover;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  z-index: 1;
  padding: 50px 100px;
}
@media (max-width: 1079px) {
  .hero-description {
    padding: 50px 0px;
  }
}
@media (max-width: 767px) {
  .hero-description {
    padding: 20px 0px;
  }
}
.hero-description .container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1079px) {
  .hero-description .container {
    flex: 1;
    padding-bottom: 50px;
    height: 100%;
    align-items: center;
    align-content: center;
  }
}
@media (max-width: 767px) {
  .hero-description .container {
    padding-bottom: 70px;
    justify-content: flex-start;
  }
  .hero-description .container p {
    max-width: 330px;
    font-size: 14px;
    width: 100%;
  }
  .hero-description .container p br {
    display: none;
  }
}

.hero-mountains {
  display: block;
  width: 100%;
  margin-bottom: -1%;
  position: relative;
  z-index: 2;
}
.hero-mountains img.mountains {
  position: relative;
  transform: translate(-50%, 0%);
  left: 50%;
  width: 100%;
  min-width: 1440px;
}
.hero-mountains img.oil {
  width: auto;
  height: 80%;
  position: absolute;
  left: 50%;
  transform: translate(-468px, 0px);
  bottom: 50%;
}
@media (max-width: 1279px) {
  .hero-mountains img.oil {
    transform: translate(-370px, 0px);
  }
}
@media (max-width: 1023px) {
  .hero-mountains img.oil {
    transform: translate(-300px, 0px);
  }
}
@media (max-width: 767px) {
  .hero-mountains img.oil {
    transform: translate(50px, 0px);
  }
}

.section--about {
  overflow: hidden;
  padding-top: clamp(120px, 16.6667vw, 240px);
  padding-bottom: clamp(50px, 6.9444vw, 100px);
}

.abot-image {
  width: 41%;
  position: absolute;
  background: var(--grey-light);
  left: 24px;
  top: 5%;
  z-index: 1;
}
.abot-image img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.abot-image:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.27%;
}
.abot-image:after {
  content: "";
  height: 220%;
  width: 5000px;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0%, -50%);
  background: url("../img/svg/g_grey.svg") no-repeat right center;
  background-size: auto 100%;
}
@media (max-width: 1023px) {
  .abot-image {
    width: calc(50% - 40px);
    left: 40px;
    top: 3%;
  }
}
@media (max-width: 767px) {
  .abot-image {
    position: relative;
    width: 274px;
    left: 0px;
    top: 0%;
    margin-bottom: 30px;
  }
}

.about {
  width: 46%;
  margin-left: auto;
  position: relative;
  z-index: 2;
}
@media (max-width: 1279px) {
  .about .title {
    font-size: clamp(50px, 6.25vw, 90px);
  }
}
.about .title.absolute {
  position: relative;
  transform: translate(-30.5%, 0px);
  margin-bottom: 10px;
}
@media (max-width: 1023px) {
  .about .title.absolute {
    transform: translate(-46px, 0px);
  }
}
@media (max-width: 767px) {
  .about .title.absolute {
    transform: translate(0px, 0px);
    text-align: left;
  }
}
.about .about__text {
  max-width: 300px;
  font-size: 14px;
  text-align: left;
}
@media (max-width: 1279px) {
  .about .about__text {
    font-size: 12px;
    max-width: 240px;
  }
}
.about .about__text.absolute {
  position: absolute;
  right: 2%;
  top: 27%;
}
@media (max-width: 1279px) {
  .about .about__text.absolute {
    right: 0%;
    top: 25%;
  }
}
@media (max-width: 1023px) {
  .about {
    width: 50%;
    padding-left: 30px;
  }
  .about .about__text.absolute {
    position: relative;
    right: 0%;
    top: 0%;
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .about {
    width: 100%;
    padding-left: 0px;
    text-align: right;
  }
  .about .about__text.absolute {
    margin: 10px 0px 10px auto;
    margin-left: auto;
  }
}

.section--counters {
  padding-top: 600px;
  z-index: 0;
}
.section--counters:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100svh;
  background: url("../img/main/oil_bg.webp") no-repeat center top/cover;
  z-index: 1;
  will-change: transform;
  transform: translate(0px, 0px);
  transition: 0.3s;
}
.section--counters:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  background: url("../img/main/snow.gif") no-repeat center center/cover;
  mix-blend-mode: screen;
  filter: brightness(2) contrast(1.3);
  pointer-events: none;
  opacity: 0.5;
}
.section--counters.fixed:before {
  position: fixed;
  transform: translate(0px, 0px);
}
@media (max-width: 1279px) {
  .section--counters {
    padding-top: 500px;
  }
  .section--counters:before {
    background: url("../img/main/oil_bg.webp") no-repeat center top;
    background-size: auto 100%;
    z-index: 1;
    will-change: transform;
    transform: translate(0px, 0px);
    transition: 0.3s;
  }
}
@media (max-width: 1023px) {
  .section--counters:before {
    height: 70svh;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .section--counters {
    padding-top: 400px;
  }
  .section--counters:before {
    height: 100svh;
  }
}

.counters {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-bottom: 140px;
  background: url("../img/main/snow.png") no-repeat center top;
  background-size: cover;
}
@media (max-width: 1279px) {
  .counters {
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .counters {
    background: url("../img/main/snow.png") no-repeat center bottom;
    background-size: 767px auto;
  }
}
.counters ul {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 24px;
}
.counters ul li {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: calc((100% - 48px) / 3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 24px;
  height: 300px;
  color: var(--white);
  background: rgba(0, 128, 255, 0.7);
}
.counters ul li:nth-child(1) {
  transform: translate(0%, -70%);
}
.counters ul li:nth-child(2) {
  transform: translate(0%, -35%);
}
.counters ul li:last-child {
  background: rgba(0, 128, 255, 0.4);
}
.counters ul li p {
  font-family: var(--500);
  font-weight: 500;
  font-size: clamp(18px, 1.6667vw, 24px);
  line-height: 1.4;
}
@media (max-width: 1023px) {
  .counters ul {
    gap: 8px;
  }
  .counters ul li {
    padding: 12px;
    width: calc((100% - 16px) / 3);
  }
  .counters ul li .title.title--64 {
    font-size: 40px;
  }
  .counters ul li p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .counters ul {
    gap: 24px;
  }
  .counters ul li {
    padding: 24px;
    width: 100%;
  }
  .counters ul li:nth-child(1) {
    transform: translate(0%, 0%);
  }
  .counters ul li:nth-child(2) {
    transform: translate(0%, 0%);
  }
  .counters ul li .title.title--64 {
    font-size: 50px;
  }
  .counters ul li p {
    font-size: 18px;
  }
}