@charset "UTF-8";
:root {
  --400: "wix_madefor_display_regular", sans-serif;
  --500: "wix_madefor_display_medium", sans-serif;
  --bg: #ffffff;
  --white: #ffffff;
  --blue: #002db7;
  --blue-light: #0080ff;
  --grey-light: #f2f2f2;
  --black: #231f20;
  --red: #b7142b;
}

@font-face {
  font-family: "wix_madefor_display_regular";
  src: url("../fonts/wix_madefor_display_regular.woff2") format("woff2"), url("../fonts/wix_madefor_display_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "wix_madefor_display_medium";
  src: url("../fonts/wix_madefor_display_medium.woff2") format("woff2"), url("../fonts/wix_madefor_display_medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 50;
  background-color: var(--white);
  transition: 0.6s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.preloader.hidden span {
  transform: scale(0.5);
}
.preloader span {
  width: 100px;
  height: 100px;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  transform: scale(1);
  transition: 1s;
}
.preloader span:before {
  content: "";
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--blue-light);
  border-top: 1px solid var(--blue-light);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 150px;
  display: block;
  position: absolute;
  -webkit-animation: rotate 0.6s linear infinite;
          animation: rotate 0.6s linear infinite;
}
.preloader span img {
  position: absolute;
  width: 60%;
}

/* Вращение по кругу */
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateleft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotateleft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

body {
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--black);
  font-family: var(--400);
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
strong {
  font-family: var(--500);
  color: inherit;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.3;
}

ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.section.full {
  min-height: 100vh;
  height: 100%;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 0px 24px;
}
@media (max-width: 1279px) {
  .container {
    padding: 0px 40px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0px 20px;
  }
}

.lines:before, .lines:after {
  content: "";
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: 0;
}
.lines:before {
  width: 1px;
  left: 50%;
  background: var(--grey-light);
}
.lines:after {
  width: 50%;
  max-width: 696px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-left: 1px solid var(--grey-light);
  border-right: 1px solid var(--grey-light);
}
@media (max-width: 1279px) {
  .lines:after {
    width: calc(50% - 12px);
    max-width: 696px;
  }
}
@media (max-width: 767px) {
  .lines:after {
    width: calc(100% - 38px);
    max-width: calc(100% - 38px);
  }
}

.burger {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 24px;
  left: 24px;
  right: 24px;
  height: 64px;
  z-index: 20;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 12px 24px;
  gap: 24px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1365px) {
  .header {
    top: 10px;
    left: 10px;
    right: 10px;
  }
}
.header:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

.logo {
  display: block;
  position: relative;
  width: 176px;
  height: 40px;
}
@media (max-width: 1279px) {
  .logo {
    width: 132px;
    height: 30px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.menu {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 24px;
}
.menu li .menu__link {
  font-family: var(--500);
  font-size: 14px;
  line-height: 1;
  transition: 0.3s;
}
.menu li .menu__link.active, .menu li .menu__link:hover {
  color: var(--blue-light);
}

@media (max-width: 1279px) {
  .header {
    height: 60px;
  }
  .burger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    font-size: 0px;
    z-index: 2;
  }
  .burger span, .burger:before, .burger:after {
    position: absolute;
    height: 2px;
    background: var(--blue);
    transition: 0.6s;
    opacity: 1;
    z-index: 1;
  }
  .burger:before, .burger:after {
    content: "";
    width: 16px;
  }
  .burger span {
    width: 22px;
    transform: translate(0px, 0px);
  }
  .burger:before {
    transform: translate(0px, -5px) rotate(0deg);
  }
  .burger:after {
    transform: translate(0px, 5px) rotate(0deg);
  }
  .burger.open span {
    transform: translate(10px, 0px);
    opacity: 0;
  }
  .burger.open:before {
    transform: translate(0px, 0px) rotate(45deg);
  }
  .burger.open:after {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  .navigation {
    position: fixed;
    align-items: flex-start;
    width: calc(100% + 20px);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: -10px;
    right: -10px;
    background: var(--blue-light);
    color: var(--white);
    transform: translate(0%, -100%);
    transition: transform 0.6s;
    padding: 0px;
    z-index: -2;
  }
  .navigation::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  .navigation.open {
    transform: translate(0%, 0%);
  }
  .menu {
    padding-top: 100px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 240px;
    min-height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .menu li {
    text-align: center;
    font-size: 20px;
  }
  .menu li .button {
    font-size: 20px;
    padding: 10px 40px;
  }
  .menu li .menu__link {
    font-size: 20px;
  }
  .menu li .menu__link.active {
    color: var(--white);
    border-bottom: 1px solid var(--white);
  }
  .menu li:first-child {
    margin-top: auto;
  }
  .menu li:last-child {
    margin-top: auto;
  }
}
.button {
  display: inline-flex;
  overflow: hidden;
  z-index: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: 18px;
  line-height: 1.6;
  color: var(--white);
  font-family: var(--400);
  padding: 12px 40px;
  z-index: 1;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
  background: var(--blue-light);
}
.button.full {
  width: 100%;
}
.button.small {
  padding: 6px 24px;
  font-size: 14px;
  line-height: 1;
  font-family: var(--500);
  background: var(--blue);
  min-height: 30px;
}
.button:before {
  content: "";
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: 0.3s;
}
.button:hover:before {
  opacity: 1;
}

.text-content {
  display: flex;
  position: relative;
  gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  z-index: 2;
  text-align: left;
}
.text-content.align-center {
  justify-content: center;
  align-items: center;
}
.text-content.align-center > * {
  text-align: center;
}

.title {
  display: block;
  font-size: 62px;
  line-height: 1;
  letter-spacing: -1.24px;
  text-align: left;
}
@media (max-width: 1279px) {
  .title {
    font-size: 46px;
    line-height: 0.9;
    letter-spacing: -0.92px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.64px;
  }
}
.title.title--h2 {
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: -0.84px;
}
@media (max-width: 767px) {
  .title.title--h2 {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.64px;
  }
}
.title.title--h3 {
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.48px;
  text-align: center;
}
@media (max-width: 1279px) {
  .title.title--h3 {
    font-size: 22px;
    letter-spacing: -0.2px;
  }
}

.subtitle {
  display: block;
  text-align: left;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: -0.36px;
}
@media (max-width: 767px) {
  .subtitle {
    font-size: 14px;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .footer {
    border-top: 1px solid var(--grey-light);
    padding-top: 130px;
  }
  .footer:before, .footer:after {
    content: none;
  }
}

.footer__logo {
  width: 100%;
  background: var(--white);
  border-top: 1px solid var(--grey-light);
  display: block;
  padding: 40px 24px 20px 24px;
  z-index: 2;
}
@media (max-width: 1279px) {
  .footer__logo {
    padding: 20px 10px 10px 10px;
  }
}
@media (max-width: 767px) {
  .footer__logo {
    padding: 15px 10px 15px 10px;
  }
}

.footer__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1440px;
  padding: 40px 24px;
  margin: 0 auto;
  z-index: 2;
}
.footer__content li {
  width: 25%;
  padding: 0px 24px;
}
.footer__content li:nth-child(1) {
  padding-left: 0px;
}
.footer__content img {
  margin-bottom: 50px;
}
.footer__content span,
.footer__content a,
.footer__content address {
  font-size: 14px;
  line-height: 1.2;
  display: block;
  min-height: 36px;
}
.footer__content a {
  color: var(--blue-light);
}
@media (max-width: 1279px) {
  .footer__content {
    padding: 40px 10px;
  }
  .footer__content li {
    padding: 0px 0px 0px 10px;
  }
  .footer__content li:nth-child(3) img {
    width: 80px;
    height: 40px;
  }
  .footer__content li:nth-child(4) img {
    width: 72px;
    height: 72px;
  }
  .footer__content li span,
.footer__content li a,
.footer__content li address {
    font-size: 12px;
    min-height: 30px;
    letter-spacing: -0.2px;
  }
}
@media (max-width: 767px) {
  .footer__content {
    padding: 30px 20px;
    flex-wrap: wrap;
    position: relative;
  }
  .footer__content li {
    position: unset;
    width: 100%;
    padding: 0;
    margin: 16px 0px;
  }
  .footer__content li span,
.footer__content li a,
.footer__content li address {
    font-size: 14px;
    min-height: 3px;
    letter-spacing: 0px;
  }
  .footer__content li:nth-child(3) img {
    position: absolute;
    margin-bottom: 0px;
    width: 102px;
    height: 50px;
    bottom: calc(100% + 20px);
  }
  .footer__content li:nth-child(4) img {
    position: absolute;
    margin-bottom: 0px;
    width: 95px;
    height: 95px;
    bottom: 100%;
    left: 55%;
  }
}

.marquee {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}

.marquee__inner {
  display: inline-flex;
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
}

.marquee__inner span {
  display: inline-block;
  white-space: nowrap;
  font-size: 190px;
  line-height: 1;
  color: var(--blue-light);
  padding-right: 4rem;
}

/* Анимация */
@-webkit-keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@media (max-width: 1279px) {
  .marquee__inner span {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .marquee__inner span {
    font-size: 60px;
  }
}
.section--hero {
  height: 100%;
  min-height: 100vh;
  background: #b0afb0 url("../img/main/hero_sky.webp") no-repeat center top;
  background-size: 100% auto;
}